/*All document specification*/

/* когда будем знакомится с препроцессорами, выучим что такое переменные, миксины и прочее, тогда твой css можно будет сократить раза в 3*/


* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:  #505050;
}
a {
    text-decoration: none;
    transition: color 0.3s ease;
}
li {
    list-style-type: none;
}
.container {
    width: 1170px; /*for responsive add in % */
    display: flex;
    margin: auto;
}
.lato_font {
    font-family: 'Lato', sans-serif;
}
.btn {
    border: 1px solid #131313;
    background: #131313;
}
.btn:hover {
    background-color: #ff0036;
    border: 1px solid #ff0036;;
}
.footer_line {
    border: 1px solid #262626;
    margin: auto;
    width: 510px;
    position: relative;
}
.hexagon {
    top: -10px;
    left: 49%;
    width: 11px;
    height: 20px;
    background: #262626;
    position: absolute;
    margin: auto;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 7px solid #262626;
    border-bottom: 10px solid transparent;
}
.hexagon:after {
    content: "";
    position: absolute;
    right: 0;
    left: 11px;
    width: 0;
    height: 0;
    border-left: 7px solid #262626;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}
.red {
    border-color: #ff0036;
    background: #ff0036;
}

/* сокращай такие конструкции,выноси общее, уменьшай объем файла,  к примеру .red:before, .red:after {} */
.red:before {
    border-right: 7px solid #ff0036;
}
.red:after {
    border-left: 7px solid #ff0036;
}
.bg {
    background: #262626;
}
.creativia_title {
    padding: 100px 0 100px 0;
    margin: 0 auto;
}
/*Header section*/
header {
    background-color:  #131313;
}
.logo_header {
    border-top: 2px solid #ff0036;
    padding: 20px 60px;
    position: relative;
}
.logo_header:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 17px;
    width: 90px;
    height: 90px;
    border-bottom: 2px solid #ff0036;
    transform: rotate(45deg);
}
.logo_header:after {
    content: "";
    position: absolute;
    top: 48px;
    right: -46px;
    width: 90px;
    height: 90px;
    border-bottom: 2px solid #ff0036;
    transform: rotate(135deg);
}
.logo_bottom {
    content: "";
    position: absolute;
    top: 3px;
    left: 62px;
    width: 79px;
    height: 90px;
    border-bottom: 2px solid #ff0036;
    transform: rotate(0deg);
}
.logo_bottom:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 115px;
    width: 53px;
    height: 0;
    border-bottom: 2px solid #ff0036;
    transform: rotate(90deg);
}
.logo_bottom:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -90px;
    width: 54px;
    height: 0;
    border-bottom: 2px solid #ff0036;
    transform: rotate(90deg);
}
.logo_header a {
    color:  #ffffff;
    font-size: 1.3em;
    font-weight: 400;
}
nav {
    display: flex;
    align-items: center;
}
.top_menu {
    display: flex;
}
/* Обычно стараются не использовать id*/
#menuToggle_checkbox {
    display: none; /*no visible on the large size*/
}
.top_menu a {
    color:  #a4a4a4;
    font-size: 1.125em;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 38px;
}
.top_menu a:first-child {
    padding-left: 98px;
}
.top_menu a:last-child {
    padding-right: 0;
}
.top_menu li {
    position: relative;
}
/*как бы его выровнять по центру не используюя нс-чилд селекторы?*/
/*.top_menu li:after - нельзя применить и before:hover одновременно??*/
.top_menu li:after {
    content: "";
    width: 27px;
    border-bottom: 2px solid #ff0036;
    padding-top: 0;
    position: absolute;
    top: 42px;
    left: 33%;
}
.top_menu li:before {
    content: "";
    width: 27px;
    border-bottom: 2px solid #ff0036;
    padding-top: 0;
    position: absolute;
    top: -20px;
    left: 33%;
}
.top_menu li:hover {
    color: white;
}
/*Header slider section*/
.header_slider {
    background: #a4a4a4 url(../img/header_img1.png) no-repeat bottom / cover; /*как в таких случаях лучше делать - ковер или убрать и оставить по бокам поля*?если картинка сильно налазит на большом экране??*/
    display: flex;
    flex-direction: column;
}
/*Как затемнить фон*/
/*.header_slider:after {
    content: "";
    background: #131313 no-repeat bottom / cover;
    opacity: 0.7;
    width: 100%;
}*/
.slogan1 h1{
    padding-top: 195px;
    text-align: center;
    color: #ff0036;
    font-size: 1.875em;
    font-weight: 700;
}
.slogan1 h1 > span{
    color: #ffffff;
}
.header_text {
    text-align: center;
    margin: 46px auto 50px auto;
    color:  #ffffff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375;
    width: 1021px;
}
.header_btn_part {
    text-align: center;
    display: flex;
    margin: 0 auto 193px auto;
    width: 380px;
    justify-content: space-between;
}
.features_btn {
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 1.25em;
    font-weight: normal;
    padding: 18px 35px 18px 35px;
}
.free_psd_btn {
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 1.25em;
    font-weight: normal;
    padding: 18px 35px 18px 35px;
}
/*ABout section*/
.about_creativia_title {
    padding: 100px 0 100px 0;
    margin: 0 auto;
}
.about_creativia_title h1{
    color:  #ff0036;
    font-size: 1.875em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}
.about_creativia_title h1 > span{
    color: #262626;
}
.about_creativia_title p{
    color:  #505050;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
    text-align: center;
}
.about_creativia_title p > span{
    color: #ff0036;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
}
.about_creativia_description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
.about_creativia_description_left_part {
    width: 566px;
}
.about_creativia_description_left_part p{
    color:  #505050;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.475;
}
.about_creativia_description_right_part {
    width: 570px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 350px;
}
/*как затемнить такие сложные фигурки? сделать их темнее*/
.about_creativia_description_right_part > img:first-child {
    width: 375px;
    height: 324px;
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 26px;
}
.about_creativia_description_right_part > img:nth-child(2) {
    width: 375px;
    height: 324px;
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 210px;
}
.about_creativia_description_right_part > img:last-child {
    width: 412px;
    height: 366px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 100px;
}
/*Our advantage section*/
.our_advantages_items {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
    width: 100%;
    flex-wrap: wrap;
}
.our_advantages_item {
    width: 260px;
    text-align: center;
}
.our_advantages_icon {
    margin: auto;
}
.our_advantages_item h1{
    text-transform: uppercase;
    color:  #262626;
    font-size: 1.25em;
    font-weight: 500;
    padding: 31px 0 27px 0;
}
.our_advantages_item > span{
    color:  #505050;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375;
}

/*Выноси общее*/
.our_advantages_icon {
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding: 24px;
    margin: auto;
    width: 40px;
    height: 80px;
    position: relative;
    background: transparent;
}
.our_advantages_icon:before {
    content: "";
    position: absolute;
    top: -7px;
    left: -22px;
    height: 77px;
    border-left: 1px solid #262626;
    transform: rotate(33deg);
}
.our_advantages_icon:after {
    content: "";
    position: absolute;
    top: 58px;
    left: -21px;
    height: 76px;
    border-right: 1px solid #262626;
    transform: rotate(146deg);
}
.our_advantages_icon span:before {
    content: "";
    position: absolute;
    top: 58px;
    left: 108px;
    height: 76px;
    border-right: 1px solid #262626;
    transform: rotate(213deg);
}
.our_advantages_icon span:after {
    content: "";
    position: absolute;
    top: -7px;
    right: -21px;
    height: 76px;
    border-right: 1px solid #262626;
    transform: rotate(147deg);
}
/*Как бы ты вытаскивала иконки с этого макета?     ---   бывают случаи, когда дизайнер говорит какой набор иконок использовал ( если они в открытом доступе ), а если нет, то скачивала и подключала бы иконки
    */
/*Portfolio section*/
.portfolio_tab {
    display: flex;
}
.portfolio h1{
    color:  #ffffff;
    font-size: 1.875em;/* Приближение из-за подстановки шрифтов */ /*это не обязательно копировать))))))*/
    font-weight: 700;
    text-align: center;
}
.portfolio_tab a {
    text-transform: uppercase;
    color:  #a4a4a4;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
    padding-top: 27px;
    padding-right: 14px;
}
.portfolio_tab a:last-child {
    padding-right: 0;
}
.portfolio_tab a:hover
{
    color: #ff0036;
}
.portfolio_example_1 {
    width: 400px;
    height: 350px;
    background: #f39943;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #262626;
}
.portfolio_example_2 {
    width: 300px;
    height: 350px;
    background: #56cc82;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #262626;
}
.portfolio_tab_items {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1450px;
    padding-bottom: 110px;
}