/*All document specification*/
* {
    margin: 0;
    padding: 0;
}
/*----------------Мне кажется что те шрифты что применяю я очень отличаются от тех что на макете??????*/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:  #505050;
}
a {
    text-decoration: none;
    transition: color 0.3s ease;
}
li {
    list-style-type: none;
}
.container {
    width: 1170px; /*for responsive add in % */
    display: flex;
    margin: auto; 
    position: relative;   
    margin-bottom: 100px;
}
.lato_font {
    font-family: 'Lato', sans-serif;
}
.btn {
    border: 1px solid #131313;
    background: #131313;
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 1.25em;
    font-weight: normal;
    padding: 12px 38px;
}
.btn:hover {
    background-color: #ff0036;
    border: 1px solid #ff0036;;
}
.footer_line {
    border: 1px solid #262626;
    margin: auto;
    width: 510px;
    position: relative;
}
.hexagon {
    top: -10px;
    left: 49%;
    width: 11px;
    height: 20px;
    background: #262626;
    position: absolute;
    margin: auto;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 7px solid #262626;
    border-bottom: 10px solid transparent;
}
.hexagon:after {
    content: "";
    position: absolute;
    right: 0;
    left: 11px;
    width: 0;
    height: 0;
    border-left: 7px solid #262626;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}
.red {
    border-color: #ff0036;
    background: #ff0036;
}
.red:before  {
    border-right: 7px solid #ff0036;
}
/*не получилось сократить так как это разные бордеры...*/
.red:after {
    border-left: 7px solid #ff0036;
}
/* .creativia_title {
    padding: 100px 0 100px 0;
    margin: 0 auto;
} */
.basic_top_text {
    padding: 100px 0 100px 0;
    margin: 0 auto;
}
.basic_top_text h1 {
    color:  #ff0036;
    font-size: 1.875em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}
.basic_top_text h1 > span{
    color: #262626;
}
.basic_top_text p {
    color:  #505050;
    font-size: 1em;
    font-weight: 900;
    line-height: 1.375;
    text-align: center;
}
.basic_top_text p > span{
    color: #ff0036;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
}
/*---------------------Почему я задаю и для контейнера размер и для блока внутир его?*/
.creativia_description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    width: 1170px;
}
/*Header section*/
header {
    background-color:  #131313;
}
header .container {
    margin-bottom: 0;
}
.logo_header {
    border-top: 2px solid #ff0036;
    padding: 20px 60px;
    margin-right: 90px;
    position: relative;
}
.logo_header:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 17px;
    width: 90px;
    height: 90px;
    border-bottom: 2px solid #ff0036;
    transform: rotate(45deg);
}
.logo_header:after {
    content: "";
    position: absolute;
    top: 48px;
    right: -46px;
    width: 90px;
    height: 90px;
    border-bottom: 2px solid #ff0036;
    transform: rotate(135deg);
}
.logo_bottom {
    content: "";
    position: absolute;
    top: 3px;
    left: 62px;
    width: 79px;
    height: 90px;
    border-bottom: 2px solid #ff0036;
    transform: rotate(0deg);
}
.logo_bottom:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 115px;
    width: 53px;
    height: 0;
    border-bottom: 2px solid #ff0036;
    transform: rotate(90deg);
}
.logo_bottom:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -90px;
    width: 54px;
    height: 0;
    border-bottom: 2px solid #ff0036;
    transform: rotate(90deg);
}
.logo_header a {
    color:  #ffffff;
    font-size: 1.3em;
    font-weight: 400;
}
nav {
    display: flex;
    align-items: center;
}
.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: 70px;
}

#menuToggle_checkbox {
    display: none; /*no visible on the large size*/
}
.top_menu a {
    color:  #a4a4a4;
    font-size: 1.125em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 35% 0 35% 0;
}
.top_menu li {
   display: flex;
   flex-direction: column;
}
.top_menu li span:nth-child(1) {   

    width: 27px;    
    border-top: 2px solid #ff0036;       
    margin: auto;
   
}
.top_menu li span:last-child {   

    width: 27px;    
    border-bottom: 2px solid #ff0036;       
    margin: auto;
   
}

/*как бы его выровнять по центру не используюя нс-чилд селекторы?*/
/*.top_menu li:after - нельзя применить и before:hover одновременно??*/
/*
.top_menu li:after {
    content: "";
    width: 27px;
    border-bottom: 2px solid #ff0036;
    padding-top: 0;
    position: absolute;
    top: 42px;
    left: 33%;
}
.top_menu li:before {
    content: "";
    width: 27px;
    border-bottom: 2px solid #ff0036;
    padding-top: 0;
    position: absolute;
    top: -20px;
    left: 33%;
}*/
/*.top_menu li:hover {
    color: white;
}*/
/*Header slider section*/
.header_slider {
    background: #a4a4a4 url(../img/header_img1.png) no-repeat bottom / cover; /*как в таких случаях лучше делать - ковер или убрать и оставить по бокам поля*?если картинка сильно налазит на большом экране??*/
    display: flex;
    flex-direction: column;
}
/*Как затемнить фон*/
/*.header_slider:after {
    content: "";
    background: #131313 no-repeat bottom / cover;
    opacity: 0.7;
    width: 100%;
}
.slogan1 h1{
    padding-top: 195px;
    text-align: center;
    color: #ff0036;
    font-size: 1.875em;
    font-weight: 700;
}*/
.slogan1 h1 > span{
    color: #ffffff;
}
.header_text {
    text-align: center;
    margin: 46px auto 50px auto;
    color:  #ffffff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375;
    width: 1021px;
}
.header_btn_part {
    text-align: center;
    display: flex;
    margin: 0 auto 193px auto;
    width: 380px;
    justify-content: space-between;
}
/*
.features_btn {
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 1.25em;
    font-weight: normal;
    padding: 18px 35px 18px 35px;
}
.free_psd_btn {
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 1.25em;
    font-weight: normal;
    padding: 18px 35px 18px 35px;
}*/
/*ABout section*/
/*
.about_creativia_title {
    padding: 100px 0 100px 0;
    margin: 0 auto;
}
.about_creativia_title h1{
    color:  #ff0036;
    font-size: 1.875em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}

.about_creativia_title h1 > span{
    color: #262626;
}

.about_creativia_title p{
    color:  #505050;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
    text-align: center;
}

.about_creativia_title p > span{
    color: #ff0036;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
}

.about_creativia_description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
*/
.about_creativia .creativia_description {
    padding-bottom: 0;
}
.about_creativia_description_left_part {
    width: 566px;
}
.about_creativia_description_left_part p{
    color:  #505050;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.475;
}
.about_creativia_description_right_part {
    width: 570px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 350px;
}
/*как затемнить такие сложные фигурки? сделать их темнее*/
.about_creativia_description_right_part > img:first-child {
    width: 375px;
    height: 324px;
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 30px;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);

}
.about_creativia_description_right_part > img:nth-child(2) {
    width: 375px;
    height: 324px;
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 200px;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}
.about_creativia_description_right_part > img:last-child {
    width: 412px;
    height: 366px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 100px;
}
/*Our advantage section*/
.our_advantages_items {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
    width: 100%;
    flex-wrap: wrap;
}
.our_advantages_item {
    width: 260px;
    text-align: center;
}
.our_advantages_item h1{
    text-transform: uppercase;
    color:  #262626;
    font-size: 1.25em;
    font-weight: 500;
    padding: 31px 0 27px 0;
}
.our_advantages_item > span{
    color:  #505050;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375;
}
.our_advantages_icon {
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding: 24px;
    margin: auto;
    width: 40px;
    height: 80px;
    position: relative;
    background: transparent;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_advantages_icon:hover {
    border-bottom: 1px solid #ff0036;
    background: #ff0036;
    border-top: 1px solid #ff0036;
}
.our_advantages_icon:before {
    content: "";
    position: absolute;
    top: -7px;
    left: -22px;
    height: 77px;
    border-left: 1px solid #262626;
    transform: rotate(33deg);
}
.our_advantages_icon:hover:before {
    top: 6px;
    left: -26px;
    border-left: 52px solid #ff0036;
}
.our_advantages_icon:after {
    content: "";
    position: absolute;
    top: 58px;
    left: -21px;
    height: 76px;
    border-right: 1px solid #262626;
    transform: rotate(146deg);
}
.our_advantages_icon:hover:after {
    top: 50px;
    left: -24px;
    border-right: 30px solid #ff0036;
}
.our_advantages_icon span:before {
    content: "";
    position: absolute;
    top: 58px;
    left: 108px;
    height: 76px;
    border-right: 1px solid #262626;
    transform: rotate(213deg);
}
.our_advantages_icon span:hover::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 108px;
    height: 76px;
    border-right: 51px solid #262626;
    transform: rotate(213deg);
}
.our_advantages_icon span:after {
    content: "";
    position: absolute;
    top: -7px;
    right: -21px;
    height: 76px;
    border-right: 1px solid #262626;
    transform: rotate(147deg);
}
/*Как бы ты вытаскивала иконки с этого макета?
*/
/*Portfolio section*/
.portfolio .basic_top_text h1 {
    padding-bottom: 0;
}
.portfolio_tab {
    display: flex;
}
.portfolio h1{
    color:  #ffffff;
    font-size: 1.875em;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.portfolio_tab a {
    text-transform: uppercase;
    color:  #a4a4a4;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.375;
    padding-top: 27px;
    padding-right: 14px;
}
.portfolio_tab a:last-child {
    padding-right: 0;
}
.portfolio_tab a:hover
{
    color: #ff0036;
}
.portfolio_example_1 {
    width: 395px;
    height: 350px;
    background: #f39943;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #262626;
}
.portfolio_example_2 {
    width: 299px;
    height: 350px;
    background: #56cc82;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #262626;
}
.portfolio_tab_items {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1400px;  
    padding-bottom: 100px; 
}
/*Feature Section*/
/*выровнять элементы по центру....так как джастифай контенет не работает че те, или найти причину*/
.features {
    position: relative;
}
.features_part {
    height: 230px;
    width: 375px;
}
.features_part.left, .features_part.center, .features_part.right {
    /* border: 1px solid red; */
}
.features_item {
    border-style: solid;
    border-width: 1px;
    border-color:  #e7e7e7;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 370px;
    height: 53px;
    margin-top: 23px;
    position: relative;
    transition: background-color 1.5s;
}
.right .features_item img {
    position: absolute;
    width: 37px;
    height: 32px;
    top: 15%;
    left: 5%;
}
.features_item h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    /* font-weight: 500; */              /*так кажется более толстым чем когда я задаю вейгт???*/
    text-align: start;
    color: #262626;    
    padding: 4% 0 0 70px;
} 
.left .features_item h3 {
    text-transform: uppercase;
    font-size: 1.25em;            
    text-align: end;
    color: #262626;    
    padding: 4% 70px 0 0;
} 
/*-------------------как лучше добавить галочку на иконку????*/
/*
.left .features_item span {
    position: absolute;
    transform: rotate(102deg);
    width: 7px;
    border-bottom: 7px solid #393939;
}*/
.left .features_item img {
    position: absolute;
    width: 37px;
    height: 32px;
    top: 15%;
    right: 5%;    
}
.left .features_item:hover , .right .features_item:hover {
    background-color:  #ff0036;    
} 
.left .features_item h3:hover, .right .features_item h3:hover {
    color: #ffffff;
}
.features_part.center {
    position: relative;
    border-radius: 29px;
    background: -webkit-linear-gradient(90deg, #c7c7c7 0%, #e7e7e7 100%);
    background: -moz-linear-gradient(90deg, #c7c7c7 0%, #e7e7e7 100%);
    background: -o-linear-gradient(90deg, #c7c7c7 0%, #e7e7e7 100%);
    background: -ms-linear-gradient(90deg, #c7c7c7 0%, #e7e7e7 100%);
    background: linear-gradient(0deg, #c7c7c7 0%, #e7e7e7 100%);
    box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.15);
    width: 368px;
    height: 488px;
}
.features_part.center:before {
    content: "";
    position: absolute;
    top: 5%;
    left: 49%;
    height: 4px;
    width: 4px;
    border: 1px solid #353642;
    border-radius: 50%;
    background: #262626;    
}
.features_part.center img {
    padding: 50px 13px 100px 13px;
    z-index: 4;
}
.features_part.center img:last-child {    
    width: 473px;
    height: 206px;
    z-index: 1;
    position: absolute;
    top: 70%;
    left: -69px;
}
.features_part.center span {
    position: absolute;
    width: 0;
    height: 0;
    top:40%;    
    right: -14%;
    border-bottom: 200px solid #393939; 
    border-right: 100px solid transparent;
    z-index: -1;
}
/*как поместить его в блок для features_part что бы было красивее? через спан:афтер не получилось*/
.features span {
    position: absolute;
    width: 0;
    height: 0;
    top: 32.4%;    
    right: 62.3%;
    border-bottom: 200px solid #393939; 
    border-left: 100px solid transparent;  
    z-index: -1;
}
.free_psd_features {
    position: absolute;
    background: #393939;
    top: 78%;
    left: 42%;
    z-index: 7;
}
/* .free_psd_features {
    position: absolute;
} */
.features_part.left, .features_part.right {
    padding-top: 75px;
}
/*Our clients section*/
/*как лучше наложить затемнение если градиент темнит все???*/
.creativia_clients {
    position: relative;
    margin-top: 100px;
    background: #262626 url("../img/clients_1.png") top / cover; 
   /*  -webkit-filter: brightness(10%);
   filter: brightness(10%); */
}
.creativia_clients .creativia_description {
    padding-bottom: 0;
}
.clients h1 > span {
    color: #fff;
}
.clients p{
   color: #a4a4a4;  
}
.creativia_description h1 {
    text-transform: uppercase;
    color: #a4a4a4;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}
.clients_part {
    display: flex;
    flex-direction: column;   
    align-items: center;

}
.clients_part p {
    text-align: center;
}
.clients_part img {    
    margin: 47px 0 17px 0;
}
.clients_item {
    width: 270px;
    height: 116px;    
}
.clients_item p {
    padding-left: 8px;
}
.clients_part span {
    text-transform: uppercase;
    color: #ff0036;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
.clients_part_items {
    width: 610px;
    height: 270px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.clients_item {
     background: radial-gradient(40% 50%, #fcfbf9, #e8e7e5); 
     display: flex; 
     color:  #292625;
    font-size: 1.509em;
    line-height: 0.746;
    text-align: left;    
    align-items: center;
    justify-content: center;   
    position: relative; 
}
.clients_item img{
     width: 36px;
     height: 41px; 
     position: absolute;  
     left: 44px;
     top: 46px;  
}
/*----------------------------Почему сдвигаются все картинку????*/
.clients_item > img:nth-child(2){
     width: 36px;
     height: 41px; 
     position: absolute;  
     left: 60px;
     top: 42px;  
}
.clients_item span{
     width: 25px;
     height: 25px;
     background: #000; 
         
}
/*как ьы это заменить???что бы сделать через флекс??*/
.clients_item:nth-child(2) {
    margin-left: 30px;    
    margin-bottom: 39px;
}
.clients_item:last-child {
    margin-left: 30px;
}
.slider_count {
    display: flex;
    margin-top: 27px;
    width: 40px;
    justify-content: space-around;
}
.slider_count span {
    border: 1px solid #e0e0e0;
    background-color:  #e0e0e0;
    width: 8px;
    height: 8px;
    text-align: center;
}
.slider_count span:hover {    
    background-color:  #ff0036;    
}
/*TeamWork section*/
/*-----------------------как по мне шрифты получаются не как на картинке*/
.teamwork h1 > span {
    color: #262626;
}
/*-------------------------Почему такой варинант не сработал???*/
.our_teamwork > .container {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.teamwork_items {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.teamwork_item {
    width: 270px;    
    border: 1px solid #e7e7e7;
    display: inline;
}
.teamwork_item img{
    height:  240px;
}
/*----------------------как закрасить и текст и картнку при ховере на нее????и добавить ионки??*/
.teamwork_item:hover, .teamwork_item h2 {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
    color: #ff0036;
    /*border: 1px solid*/
    /* opacity: .5 */
}
/*вынести его в отдельный класс*/
.teamwork_item h2{
text-transform: uppercase;
    color:  #262626;
    font-size: 1.25em;
    padding: 34px 0 24px 0;
    text-align: center;
}
/*вынести его в отдельный класс*/
/*добавить выравнивание элементов через флекс*/
.teamwork_item p {
    color:  #505050;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 33px;
}
/*Our Skills sections*/
.skills_items {
    margin: auto;
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.skills_item {
    width: 160px;    
    text-align: center;
}
/*Вынести общеее и добавить стиль лато как общий вид стиля*/
/*Добавить эфект накатывания на цифры...анимацию....*/
.skills_item h1 {
    color:  #ff0036;
    font-size: 2.496em;
    font-weight: 300;
    line-height: 0.451; 
    padding: 63px 30px;  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid;  
    border-color: #e74c3c; 
    font-family: 'Lato', sans-serif;
}
.skills_item h1 >span {
    color: #000000;
}
.skills_item h2 {
    font-size: 1.25em; 
    text-transform: uppercase;
    padding-top: 25px;
}
.skills_item p {    
    line-height: 1.125;
    padding-top: 25px;
    font-family: 'Lato', sans-serif;
    color: #505050;    
}
/*Our Services section*/
.our_services {
    background: #272727;
}
.services h1 > span {
    color: #ffffff;
}
.services p {
    color: #a4a4a4;
}
/*---------------------Почему не получается использовать и контейнер?когда только контейнер не получается???*/
.services_items {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    justify-content: space-between;
}
.services_item {
    width: 570px;    
}
.services_top_part {
    display: flex;
    align-items: center;    
}
.services_item:nth-child(3), .services_item:nth-child(4), 
.services_item:nth-child(5), .services_item:nth-child(6) {     
    margin-top: 57px;   
}
.services_top_part span {
    border: 2px solid #a4a4a4;
    width: 66px;
    height: 57px;
    background: #a4a4a4 url(../img/skills_1.png) no-repeat center; 
}
.services_item:nth-child(2) .services_top_part span {   
    background: #a4a4a4 url(../img/skills_2.png) no-repeat center;
}
.services_top_part h1 {
    color:  #ffffff;
    font-size: 1.25em;
    text-transform: uppercase;
    padding-left: 35px;
  }
.services_item p {
    margin-top: 30px;
    font-family: Lato;
    line-height: 1.375;
    padding: 31px 37px;    
    background-color:  rgba(164, 164, 164, 0.1);
  }
.services_item p:hover {        
    background-color:  rgba(255, 0, 54, 0.1);
    color: #ffffff;
}

/*Bestseller sections*/
.bestseller_items {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    justify-content: space-between;
}
.bestseller_item {
    width: 270px;
    display: inline;
    text-align: center;
}
.bestseller_item h2{
    color:  #ffffff;
    font-size: 1.25em;   
    line-height: .082;    
    transform: scaleX(1.0075);
    padding: 16px 85px;
    background: #262626;
}
.bestseller_item h4 span{
    font-family: Lato;
    color:  #262626;
    font-size: 3.124em;
    font-weight: 900;       
    transform: scaleX(1.0032);
    padding-right: 10px;
    line-height: 1.8em;
}
.bestseller_item h4{
    border: 1px solid #e7e7e7;
    background: #f2f2f2;
}
/*-------------------------как сделать ховер и на спан ина текст????????????*/
.bestseller_item h4:hover { 
    background: #ff0036;
    color:  #fff;
}
.bestseller_item h3 {
    font-family: Lato;
    color:  #262626;
    font-size: 1em;
    line-height: 2.25;
    text-transform: uppercase;
    padding: 10px 0;
    border: 1px solid #e7e7e7;    
}
/*Обьединить как то в одно*/
.bestseller_item h3:last-child{
    text-transform: none;
}
.bestseller_order {
    border: 1px solid #e7e7e7;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*Обьединить как то в одно*/
.bestseller_order a {
    color:  #ffffff;
    font-size: 1.125em;    
    text-transform: uppercase;
    background: #262626;
    padding: 13px 52px;
}
.bestseller_order a:hover {
     background: #ff0036;
}

/*Twitter section*/
.twitter_section {    
    background: #272727;
    position: relative;
}
.left_icon svg {
    position: absolute;
    top: 12px;    
}
/*--------------------------------Как покрасить свг при наведении на нее?????????*/
/*
.left_icon svg:hover {
    fill: rgb(253,253,253);
}
*/
.twitter_icon {
    padding-top: 100px;    
    text-align: center;
    width: 642px; 
    margin: auto; 
}
.twitter_icon p {
    padding: 26px 0 100px 0;
    line-height: 1.375;
    color: #ffffff;
}
/*Blog section*/
.container_blog {
    width: 966px;
    display: flex;    
    margin: auto;
    margin-bottom: 50px;
}
.our_blog .container_blog:nth-child(3){
    margin-bottom: 40px;
}
.description_blog {
    margin-left: 30px;
}
.blog_icon {
    display: flex;
}
.description_blog h3 {
    color:  #2e2e2e;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.05;
}
.description_blog p {
    width: 567px;
    margin-top: 23px;
    margin-bottom: 29px;
}
.blog_icons {
    display: flex;
}
.blog_icon {
    margin: 18px 0 0 0;
    align-items: center; 
    display: flex;
}
.blog_icon img {
    width: 13px;
    height: 16px;     
}
/*-------------------------------.blog_icon img:nth-child(2) не применялось к блоку? пришлось через ид*/
#icon2 img{
    width: 15px;
    height: 13px; 
    margin-left: 16px;   
}
#icon3 img{
    width: 17px;
    height: 12px; 
    margin-left: 16px;   
}
.blog_icon span {
    padding-left: 8px;
    font-family: Lato;
    color:  #a2a2a2;
    font-size: 0.75em;  
    line-height: 2.833;
    letter-spacing: 0.18em;
}
.blog_view_btn {
    width: 120px;
}
.blog_view_btn:hover {
    background: #ff0036;
}
.slider_btn {
    width: 43px;
    height: 43px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2 url(../img/arrow.png) no-repeat center ;
    border-radius: 50%; 
    margin: 0 auto 85px auto;    
}
/*Follow section*/
.our_follow {
    background: url(../img/follow1.png) no-repeat top / cover;
    -webkit-filter: brightness(25%);
    filter: brightness(25%);
    position: relative;
    z-index: 10;
    /*--------------------поигратся с эфектами*/
    /* -webkit-filter: grayscale(100%) contrast(150%); */
}
/*--------------------------------как затемнить только задний фон?????????*/
.follow {
    position: relative;
    z-index: 1;
}
.follow h1 span {
    color: #ffffff;
}
.social_icons {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
}
.social_icon {
    width: 76px;
}
.soc_icon_part {
    position: relative;
}
/*-----------------как сделать что бы при наведенни фон закрашивался?*/
.soc_icon_part a {
    position: absolute;
    font-size: 1.43em;
    top: 27%;
    left: 42%;
    color: #ff0036;
}
/*-----------------как сделать что бы иконки были нужного цвета*/
/* .soc_icon_part a:nth-child(2) {
    position: absolute;
    font-size: 1.43em;
    top: 27%;
    left: 42%;
    color: #fff;
} */
.social_icon p {
    padding-top: 40px;
    font-family: Lato;
    color:  #ffffff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375;
}
/*Footer section*/  
.creativia_footer {
    background: #262626;
    display: flex;
    position: relative;
}
.creativia_footer img {
    padding: 30px 0 25px 0;
    margin: auto;
}
.creativia_footer h3 {
    position: absolute;
    right: 4%;
    top: 40%;    
    color:  #8e8e8e;   
    font-weight: 400;
    line-height: 1.563;
}

/*Проверка слайдера*/

#viewport {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;    
}
#slidewrapper {
    position: relative;
    width: calc(100% * 2);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);    
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}
.slide {
    width: calc(100%/2);
    list-style: none;
    display: flex;
   /*  float: left;  */
    /* position: relative; */
}
.slide h1 {
    /* position: relative;
    z-index: 0; */
    padding-top: 195px;
    text-align: center;
    color: #ff0036;
    font-size: 1.875em;
    font-weight: 700;
}
.slide-img {
    width: 100%;
    height: 700px;
     -webkit-filter: brightness(40%);
    filter: brightness(40%);
}
/* сделал саму кнопку датчиком, а как выделить что весь блок может переключать-тоесть линия справа и слева, как в бутстрап*/
#prev-btn, #next-btn, #prev-btn span, #next-btn span {
    position: absolute;
    width: 25px;   
    background-color: #fff;
    border-bottom: 6px solid #a4a4a4;
    background: transparent;
    top: calc(50% - 25px);    
}
#prev-btn {
    left: 40px;
    transform: rotate(140deg);
}
#prev-btn span {    
    transform: rotate(80deg);
    top: -11px;
    left:9px;
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}
#next-btn {
   right: 40px;
   transform: rotate(210deg);
}
#next-btn span {    
    transform: rotate(102deg);
    top: -11px;
    right: 8px;
}
/*как покрасить стрелочки слайдера*/
#next-btn:hover {
    background: #ff0036; 
}
/*    border-left: 50px solid rebeccapurple; сменивать по внутрености картинок
сервис воркер посмотреть
*/